.about__container{
    margin-bottom: 200px;
}

.about__info--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:left;
}

.about__info--specification {
    padding:10px 0;
    font-size:18px
}

a {
    text-decoration: none;
    cursor: pointer;
    color:inherit; 
    transition: 0.4s;
    
    &:hover { 
        text-decoration: underline;
        color: rgb(230, 133, 7);
        transition: 0.4s;
    }
}
