.characters__wrapper {
  text-align: center;
}

.characters__title{
  padding:20px 0;
}

.characters__container, .button__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: space-around;
}

.form__container {
 display: inline-block;
 margin-left: 80px;
}

.characters__card {
  border: 3px solid rgb(230, 133, 7);
  border-radius: 20px;
  padding: 10px;
  max-width: 322px;
  background-color: #7f817f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.characters__card--image {
  max-width: 300px;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  border: 3px solid rgb(230, 133, 7);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.error__message {
  font-size: 50px;
  margin-bottom:300px;
}

.characters__card--button {
  background-color: rgb(230, 133, 7);
  cursor: pointer;
  color:white;
  border:none;
  margin: 0 40px 40px;
  border-radius: 20px;
  padding: 5px 35px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  &:hover{
    background-color: rgb(253, 177, 77);
  }
  &:active {
    opacity: 0.7;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
  }
}

.characters__card--name {
  display: flex;
  justify-content: space-between;
  padding:25px 0;
  font-size:20px;
}

.text__box {
  font-size: 40px;
  font-weight:600;
  letter-spacing: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  padding: 50px;
}

.text__box span {
  color:rgb(230, 133, 7);
  text-transform: uppercase;
  animation: animate 5s ease forwards infinite;
}

.search__input {
  background-color: inherit;
  font-size: 16px;
  line-height: 28px;
  border: 3px solid rgb(230, 133, 7);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding-left: 15px;
  margin-right:15px;
}

.red {
background-color: #dd4646;
}

.green {
  background-color:#0baa18;
}

.grey {
  background-color: #7f817f;
}

.text__box span:nth-child(1) {
  animation-delay:.1s;
}
.text__box span:nth-child(2) {
  animation-delay:.2s;
}
.text__box span:nth-child(3) {
  animation-delay:.3s;
}
.text__box span:nth-child(4) {
  animation-delay:.4s;
}
.text__box span:nth-child(5) {
  animation-delay:.5s;
}
.text__box span:nth-child(6) {
  animation-delay:.6s;
}
.text__box span:nth-child(7) {
  animation-delay:.7s;
}
.text__box span:nth-child(8) {
  animation-delay:.8s;
}
.text__box span:nth-child(9) {
  animation-delay:.9s;
}
.text__box span:nth-child(10) {
  animation-delay:1s;
}


@keyframes animate {
  0%, 100%{
    text-shadow: 0 0 0 #000;
  }
  50%, 100%{
    text-shadow: 0 30px 25px #000;
  }
}