.characters__wrapper {
  text-align: center;
}

.characters__container,
.button__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: space-around;
}

.characters__card {
  border: 3px solid rgb(230, 133, 7);
  border-radius: 20px;
  padding: 10px;
  max-width: 322px;
  background-color: #7f817f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.card__image {
  max-width: 300px;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  border: 3px solid rgb(230, 133, 7);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.card__name {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  font-size: 20px;
}

.card__arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__arrow svg {
  fill: #292643;
  &:hover {
    fill: rgb(235, 137, 9);
  }
}

.card__arrow:disabled svg {
  fill: rgb(124, 123, 121);
}

.pagination__items {
  font-weight: bold;
  background-color: rgb(230, 133, 7);
  border: 3px solid rgb(230, 133, 7);
  border-radius: 10px;
  margin: 10px;
}

.pagination__item {
  font-weight: bold;
  background-color: rgb(253, 177, 77);
  border: 3px solid rgb(230, 133, 7);
  border-radius: 10px;
  margin: 10px 10px 40px 10px;
}

.pagination__box{
  display:flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
}