.locations__button {
  display: block;
  background-color: rgb(230, 133, 7);
  cursor: pointer;
  color: white;
  border: none;
  margin: 20px auto;
  border-radius: 20px;
  padding: 5px 35px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;

  &:hover {
    background-color: rgb(253, 177, 77);
  }

  &:active {
    opacity: 0.7;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
  }
}

.locations__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.locations__cards {
  border: 3px solid #e68507;
  border-radius: 20px;
  padding: 10px;
  width: 320px;
  background-color: #e68507;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.493);
}
